@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.panel {
  @apply bg-white rounded-lg shadow-sm border-b border-gray-200 p-4 mb-2;
}


.border_button {
  @apply rounded-lg border border-gray-300 text-gray-700 font-semibold flex flex-col items-center justify-center space-y-2 py-2 px-3 cursor-pointer ;
}

.input {
  @apply block w-full px-2 py-2 text-base border border-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md
}